nav{
	border-bottom: 4px solid #008ed6;

}
body{
	background-color: #333;
	color: #fff;
}
#explore{
	background-color: #444;
}
#home-section {
  background: url("../img/home.jpg") no-repeat center top fixed;
  background-size: cover;
  background-attachment: fixed;
  min-height: 700px; }